<h1>Admin - Ta bort API-nyckel</h1>

<p><%= @key.api_key_value %></p>

<fieldset>
  <%= form_tag({ controller: "admin_api_keys", action: "deletekey", apikeyid: "#{@key.id}" }) do %>
  <p><%= submit_tag("Ta bort API-nyckel") %></p>
<% end %>
</fieldset>

<p><%= link_to "Visa API-nycklar", adminapikeys_path %></p>
<p><%= link_to "Logga ut", adminlogout_path %></p>

