<%if @user.errors.full_messages.any? %>
  <div class="alert alert-danger">
    <h2>Fel i formuläret gjorde att användaren inte kunde sparas:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Skapa användarkonto</h1>
  
<div class="row">
  <div class="col-md-6">
    <%= form_for @user do |f| %>
    
    <%= f.label :email, 'Epost' %>
    <%= f.email_field :email, class: 'form-control' %>
  
    <%= f.label :password, 'Lösenord' %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :password_confirmation, 'Bekräfta lösenord' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
   
    <%= f.label :app_url, 'URL till din applikation' %>
    <%= f.text_field :app_url, class: 'form-control' %>
    <br />
    <%= f.submit "Skapa användarkonto", class: "btn btn-primary" %>
    <% end %>
    <br />
  </div>
</div>

<p><%= link_to "Logga in - Användare", root_path %></p>