<% if @attraction.errors.full_messages.any? %>
  <% @attraction.errors.full_messages.each do |error_message| %>
    <div>
       <%= error_message  %> <br />
    </div>
 <% end %>
<% end %>

<%= form_for(@attraction) do |f| %>

  <%= f.label :address %><br />
  <%= f.text_field :address %> <br />

  <%= f.label :tag do %>
    <% for tag in Tag.all %>
    <div>
      <%= check_box_tag "attraction[tag_ids][]", tag.id,  @attraction.tags.include?(tag) %>
      <%= tag.name %>
    </div>
    <% end %>
  <% end %>

  
  <%= f.submit "Skapa ny turistattraktion", class: "btn btn-primary" %>
<% end %>

<p><%= link_to "Logga ut", logout_path, data: {no_turbolink: true} %></p>